langchain
langchain-core
langchain-community
langchain-cohere
langchain-pinecone
google-generativeai
python-dotenv
rank-bm25
jinja2
python-multipart
tiktoken
fastapi
uvicorn
unstructured
pinecone-client
pypdf
pandas
numpy
ipykernel
rouge-score
bert-score
datasets
plotly
wandb
seaborn
matplotlib
scipy
requests
scikit-learn
sentence-transformers
altair
pillow
pyarrow