langchain
langchain-core
langchain-community
langchain-cohere
langchain-pinecone
google-generativeai
python-dotenv
rank-bm25
python-multipart
fastapi
uvicorn
unstructured
pinecone
pypdf
numpy
rouge-score
datasets
requests
scikit-learn
sentence-transformers
