langchain
langchain-core
langchain-community
langchain-cohere
langchain-pinecone
google-generativeai
python-dotenv
rank-bm25
jinja2
python-multipart
tiktoken
fastapi
uvicorn
unstructured
pinecone-client
pypdf
pandas
numpy
ipykernel